/* BASIC RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */

:root {
  --ff: "Libre Franklin", sans-serif;
  --primary-color: rgb(76, 123, 243);
  --secondary-color: rgb(194, 211, 255);
  --warning: rgb(255, 82, 99);
  --text-dark: rgb(21, 32, 42);
  --text-light: rgb(150, 150, 150);
}

body {
  font-family: var(--ff);
  color: var(--text-dark);
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FONTS */
h1 {
  font-size: clamp(1.375rem, 0.8028rem + 2.4413vw, 3rem);
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 1rem;
}

h1 span {
  color: var(--text-dark);
  font-weight: 700;
}

h1 + p {
  font-size: clamp(0.75rem, 0.5739rem + 0.7512vw, 1.25rem);
}

h1,
footer p {
  color: var(--text-light);
}

footer p,
.warning {
  font-size: clamp(0.625rem, 0.581rem + 0.1878vw, 0.75rem);
}

/* MAIN CONTENT */
.main-content {
  margin-top: 5.125rem;
  margin-inline: auto;
}

.header {
  flex-direction: column;
  gap: 2rem;

  padding: 0 2.25rem;
  margin-bottom: 4.5rem;
}

.ping-img {
  padding: 0 1.75rem;
  margin-inline: auto;
}

/* CTA - button&input */
form {
  max-width: 17.75rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  position: relative;
}

input,
.btn {
  border-radius: 1.75rem;
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  line-height: 1.25;
  max-height: 2.5rem;
  padding: 0.75rem 2rem;
}

input {
  background: #fff;
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.0001);
}

input::placeholder {
  color: var(--secondary-color);
}

.btn {
  background-color: var(--primary-color);
  border: none;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
  color: #fff;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.warning {
  color: var(--warning);
  font-style: italic;
  font-weight: 400;

  opacity: 0;
  position: absolute;
  top: 3rem;
  left: 3.375rem;
}

/* INVALID FORM */
form:has(:invalid) input {
  border-color: var(--warning);
}

form:has(:invalid) .warning {
  opacity: 1;
}

form:has(:invalid) {
  gap: 2.625rem;
}

/* FOOTER CONTENT */
.footer {
  margin-top: 7.5rem;
  margin-bottom: 2.25rem;
}

.footer-icons {
  gap: 0.75rem;
  margin-bottom: 1.625rem;
}

.icons {
  border: 1px solid rgba(76, 123, 243, 0.146);
  border-radius: 50%;
  color: var(--primary-color);
  height: 31px;
  width: 32px;
  text-decoration: none;

  transition: 0.3s;
}

.icons:hover {
  transform: translateY(-1.5px);
}

@media (min-width: 768px) {
  .main-content {
    margin-top: 5.25rem;

    max-width: 40rem;
  }

  .logo {
    height: 2.25rem;
  }

  .header {
    gap: 2.5rem;

    padding: 0;
    margin-bottom: 5.875rem;
  }

  .ping-img {
    padding: 0;
    max-height: 383px;
  }

  form {
    max-width: 100%;

    flex-direction: row;
    gap: 1rem;
  }

  input,
  .btn {
    max-height: 3.5rem;
    padding: 1.125rem 2rem;
  }

  input {
    flex-basis: 68%;
  }

  .btn {
    flex-basis: 32%;
  }

  .warning {
    top: 4rem;
    left: 3.375rem;
  }

  form:has(:invalid) {
    gap: 1rem;
  }

  .footer {
    margin-top: 4.5rem;
    margin-bottom: 3rem;
  }
}
